@model IEnumerable<Skillset_PL.ViewModels.EmployeeViewModel>

@{
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
    ViewBag.Title = "Index";
}
<div class="row first">
    <h2>EMPLOYEE LIST</h2>


    {
       
        <div class="row">
            <div class="panel-group">
                <div class="panel panel-success">
                    <div class="panel-heading">Search</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-1"><b> SearchBy </b></div>
                            <div class="col-md-5">                             
                                @Html.RadioButton("option", "Employee Code", true) <text>Employee Code</text>
                                &nbsp;
                                @Html.RadioButton("option", "Name") <text> Name </text>
                                &nbsp; 
                                @Html.RadioButton("option", "Designation")<text>Designation</text>
                            </div>
                            <div class="col-md-3">
                                @Html.Editor("search", null, new { htmlAttributes = new { @class = "form-control" } })
                                &nbsp; &nbsp;
                            </div>
                            <div class="col-md-3">
                                <input type="submit" name="submit" value="Search" class="btn btn-success" />
                                &nbsp; &nbsp;
                                @Html.ActionLink("Reset", "Index", null, htmlAttributes: new { @class = "btn btn-success" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <table class="table table-responsive">


                <th>Operations</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DesignationId)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeCode }, htmlAttributes: new { @class = "btn btn-warning" })
                        @Html.ActionLink("Details", "Details", new { id = item.EmployeeCode }, htmlAttributes: new { @class = "btn btn-primary" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeCode }, htmlAttributes: new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }

        </table>

    }
    else
    {
        <br />
        <div class="alert alert-warning fade in">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>No Employees!</strong> There are no employees to display.
        </div>
    }
</div>