@model PagedList.IPagedList<Skillset_PL.ViewModels.EmployeeViewModel>
@using PagedList.Mvc;
<link href="~/Content/Search.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/theme.css" rel="stylesheet" />
<script src="~/Scripts/Employee.js"></script>
@{
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
    ViewBag.Title = "Index";
}
@if (TempData["message"] != null)
{

    <script type="text/javascript">

        $(function () {

            AlertEmployee("@TempData["message"]");
        });
    </script>
}
@if (TempData["error"] != null)
{

    <script type="text/javascript">

        $(function () {

            ValidateEmployee("@TempData["error"]");
        });
    </script>
}
<div id="snackbar"></div>
<div id="snackbarValidation"></div>
<div style="padding-bottom:10px;">
    @using (Html.BeginForm("Index", "Employee", FormMethod.Get))
    {
        <div class="row">
            <div class="col-md-12" style="margin-right:0;margin-left:0;">
                <div class="col=md-3" style="float:left;">
                    @Html.Editor("search", null, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name/Code/Designation" } })
                </div>
                <div class="col-md-3" id="searchButton">
                    <button type="submit" name="submit" class="btn" style="background-color:white;color:#2a3f54;font-size:20px;" data-tooltip="Search Employee" data-tooltip-position="bottom">
                        <i class="fa fa-search"></i>
                    </button>
                    <a href="@Url.Action("Index")" data-tooltip="Refresh Search" data-tooltip-position="bottom" style="background-color:white;color:#2a3f54;font-size:20px;" class="btn"><div class="fa fa-refresh"></div></a>
                </div>
                <div class="col-md-6" id="newEmployeeDiv">
                    <span>
                        <a href="@Url.Action("Create", "Employee")" class="btn btn-new tog"><span class="fa fa-plus fa-lg "></span><span> <b>Employee</b></span></a>
                    </span>
                </div>
            </div>
        </div>
    }
</div>

<label class="control-label alert-success well-sm" style="display:block;text-align:center;background-color:#2a3f54;color:#FFF;font-size:15px;">Employee Details</label>

@if ((Model.Count() > 0))
{

    <div class="panel panel-default">
        <table class="table table-hover table-responsive size-response">
            <thead style="background-color:#2a3f54;color:white">
                <tr>
                    <th>
                        @Html.DisplayName("Employee Code")
                    </th>
                    <th>
                        @Html.DisplayName("Name")
                    </th>
                    <th>
                        @Html.DisplayName("Designation")
                    </th>
                    <th>
                        @Html.DisplayName("Operations")
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td data-title="Employee Code">
                            @Html.DisplayFor(modelItem => item.EmployeeCode)
                        </td>
                        <td data-title="Name">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td data-title="Designation">
                            @Html.DisplayFor(modelItem => item.DesignationId)
                        </td>

                        <td data-title="Operations">
                            <a href="@Url.Action("Edit",new { id = item.EmployeeCode })" data-tooltip="Edit Employee" data-tooltip-position="bottom"><i class="fa fa-pencil-square-o" style="background-color:white;color:#2a3f54;font-size:20px;"></i></a>
                            <a href="@Url.Action("Details",new { id = item.EmployeeCode })" data-tooltip="View Details" data-tooltip-position="bottom"><i class="fa fa-info" style="background-color:white;color:#2a3f54;font-size:20px;"></i></a>
                            <a href="@Url.Action("Delete",new { id = item.EmployeeCode })" data-tooltip="Delete Employee" data-tooltip-position="bottom"><i class="fa fa-trash-o" style="background-color:white;color:#2a3f54;font-size:20px;"></i></a>
                            <a href="@Url.Action("Skills",new { id = item.EmployeeCode })" data-tooltip="View Skills" data-tooltip-position="bottom"><i class="fa fa-lightbulb-o" style="background-color:white;color:#2a3f54;font-size:20px;"></i></a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>


}
else
{
    <div class="alert alert-warning fade in" style="color:#2a3f54;background-color:whitesmoke;border-color:#2a3f54">
        <strong>No Employees!</strong>
        <br />There are no employees to display.
    </div>
}
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
    new
    {
        search = ViewBag.search,
        page
    }))
<script src="~/Scripts/SkillRating.js"></script>
