@model IEnumerable<Skillset_PL.ViewModels.EmployeeViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.DesignationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>

        <th>Operations</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesignationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.EmployeeCode }) |
            @Html.ActionLink("Details", "Details", new { id = item.EmployeeCode }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeCode })
        </td>
    </tr>
}

</table>
