@model IEnumerable<Skillset_PL.ViewModels.EmployeeViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>EMPLOYEE LIST</h2>

    <p>
        @Html.ActionLink("NEW EMPLOYEE", "Create", null, htmlAttributes: new { @class = "btn btn-success" })
    </p>

<p style="color:red;margin-left:15px"> @ViewBag.message </p>

<p>
    @using (Html.BeginForm("Index", "Employee", FormMethod.Post))
    {
        <b> Search By: </b>
        @Html.RadioButton("option", "Employee Code") <text>Employee Code</text>
        @Html.RadioButton("option", "Name") <text> Name </text>
        @Html.RadioButton("option", "Designation")<text>Designation</text>
        @Html.RadioButton("option", "All")<text>All</text>
        @Html.TextBox("search",null, new { htmlAttributes = new { @class = "form-control" } }) <input type="submit" name="submit" value="Search" class="btn btn-success" />
    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.DesignationId)
        </th>
      

        <th>Operations</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesignationId)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.EmployeeCode }, htmlAttributes: new { @class = "btn btn-warning" }) 
            @Html.ActionLink("Details", "Details", new { id = item.EmployeeCode }, htmlAttributes: new { @class = "btn btn-primary" }) 
            @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeCode }, htmlAttributes: new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
