@model Skillset_PL.ViewModels.SkillViewModel

@{
    ViewBag.Title = "Create";
}
<div class="row first">
    <h2>Create Skill</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Skill Creation</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.SkillName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SkillName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SkillName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SkillDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.SkillDescription, 10, 40, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SkillDescription, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="margin:15px">
                <div class="col-md-2">
                    <input type="reset" value="RESET" class="btn btn-success" />
                </div>
                <div class="col-md-2">
                    <input type="submit" value="SAVE" class="btn btn-success" />
                </div>
                <div class="col-md-2">
                    @Html.ActionLink("CANCEL", "Index", null, htmlAttributes: new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
    }

</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
