@model Skillset_PL.ViewModels.SkillViewModel

@{
    ViewBag.Title = "Delete";
}
<div class="row first">
    @Html.HiddenFor(x => x.skillId)
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.SkillName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SkillName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SkillDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SkillDescription)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group" style="margin:15px">
                <div class="col-md-2">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>

                <div class="col-md-2">
                    @Html.ActionLink("Cancel", "Index", null, htmlAttributes: new { @class = "btn btn-success" })
                </div>
            </div>
        }
    </div>
</div>