﻿@using Common.Extensions
@model IEnumerable<Skillset_PL.ViewModels.SkillViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>List Of Skills</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SkillName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkillDescription)
        </th>
        <th>
            @Html.Display("Operations")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SkillName)
        </td>
        <td>
            @Html.DisplayWithBreaksFor(modelItem => item.SkillDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { skillName=item.SkillName }) |
            @*@Html.ActionLink("Details", "Details", new { skillName = item.SkillName }) |*@
            @Html.ActionLink("Delete", "Delete", new { skillName = item.SkillName })

        </td>
    </tr>
}

</table>
