@model PagedList.IPagedList<Skillset_PL.ViewModels.ReportingStaff>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{

    Layout = "~/Views/Manager/_ManagerLayout.cshtml";
    ViewBag.Title = "Staff Details";
}

@if (Model.Count() > 0)
{
    <label class="control-label alert-success well-sm" style="display:block;text-align:center;background-color:#2a3f54;color:#FFF;font-size:15px;">Staff Details</label>

    <div class="panel panel-default">
        <table class="table table-hover table-responsive size-response">
            <thead style="background-color:#2a3f54;color:white">
                <tr>
                    <th>
                        @Html.DisplayName("Employee Code")
                    </th>
                    <th>
                        @Html.DisplayName("Name")
                    </th>
                    <th>
                        @Html.DisplayName("Designation")
                    </th>
                    <th>
                        @Html.DisplayName("Email")
                    </th>
                    <th>
                        @Html.DisplayName("Rated Skills Count")
                    </th>
                    <th>
                        @Html.DisplayName("Average Skill Rating")
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td data-title="Employee Code">
                            @Html.DisplayFor(modelItem => item.EmployeeCode)
                        </td>
                        <td data-title="Name">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td data-title="Designation">
                            @Html.DisplayFor(modelItem => item.Designation)
                        </td>
                        <td data-title="Email">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td data-title="Rated Skills Count">
                            @Html.DisplayFor(modelItem => item.RatedSkillsCount)
                        </td>
                        <td data-title="Average Skill Rating">
                            @Html.DisplayFor(modelItem => item.AverageRating)
                        </td>
                        <td data-title="">
                            <a href="@Url.Action("SkillRate",new { code = item.EmployeeCode, name = item.Name })" data-tooltip="View Skills" data-tooltip-position="bottom"><i class="fa fa-lightbulb-o" style="background-color:white;color:#2a3f54;font-size:20px;"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{

    <div class="alert alert-warning fade in" style="color:#2a3f54;background-color:whitesmoke;border-color:#2a3f54">
        <strong>No Staff Details!</strong>
        <br />There is no reporting staff.
    </div>
}
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
