@model IEnumerable<Skillset_PL.ViewModels.ReportingStaff>

@{
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
    ViewBag.Title = "Index";
}

@if (Model.Count() > 0)
{
    <label class="control-label alert-success well-sm" style="display:block;text-align:center"><u>Staff Details</u></label>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Designation)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>


                <td>

                   @Html.ActionLink("Skills", "SkillRate", new { code = item.EmployeeCode, name = item.Name }) 
                </td>
            </tr>
        }

    </table>
}
else
{

    <div class="alert alert-warning fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>No Staff Details!</strong> There is no reporting staff.
    </div>

}
