@model Skillset_PL.ViewModels.EmployeeRatingScreenViewModel

@{
    ViewBag.Title = "ManagerRating";
    Layout = "~/Views/Manager/_ManagerLayout.cshtml";
}
<head>
    <script src="~/Scripts/SkillRating.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>

</head>
<div class="row first">
    <h2>  Rate your skills</h2>
    <div class="row">
        <div class="col-sm-7">

            @foreach (var item in Model.SkillRatings)
            {


                <div class="Ratecard">
                    <div class="row">

                        <div class="col-sm-6" style="margin-left:20px;">
                            <h4>
                                <b style="color:steelblue;">
                                    @Html.DisplayFor(modelItem => item.SkillName)
                                </b>
                            </h4>
                            <p style="color:black;">
                                @Html.DisplayFor(modelItem => item.SkillDescription)
                            </p>

                        </div>



                        <div class="col-sm-5" style="color:grey;">

                            <div onmouseout="CRateSelected(@item.skillId)" style="margin-left:20px;margin-top:10px;">
                                <input id="Rating @item.skillId" hidden />
                                <span class="starFade" id="Rate1 @item.skillId" onclick="CRate(@item.skillId, 1)" onmouseover="CRateOver(@item.skillId,1)" onmouseout="CRateOut(@item.skillId,1)"></span>
                                <label for="Rate1 @item.skillId" title="Amazing"></label>
                                <span class="starFade" id="Rate2 @item.skillId" onclick="CRate(@item.skillId, 2)" onmouseover="CRateOver(@item.skillId,2)" onmouseout="CRateOut(@item.skillId,2)"></span>
                                <span class="starFade" id="Rate3 @item.skillId" onclick="CRate(@item.skillId, 3)" onmouseover="CRateOver(@item.skillId,3)" onmouseout="CRateOut(@item.skillId,3)"></span>
                                <span class="starFade" id="Rate4 @item.skillId" onclick="CRate(@item.skillId, 4)" onmouseover="CRateOver(@item.skillId,4)" onmouseout="CRateOut(@item.skillId,4)"></span>
                                <span class="starFade" id="Rate5 @item.skillId" onclick="CRate(@item.skillId, 5)" onmouseover="CRateOver(@item.skillId,5)" onmouseout="CRateOut(@item.skillId,5)"></span>
                            </div>
                            <textarea class="form-control" id="TxtAra @item.skillId" placeholder="Enter your notes here" name="TxtAra" required style="margin:10px;"></textarea>


                        </div>

                    </div>
                </div>
                <br />
            }
            <a class="btn btn-info" href="#demo" data-toggle="collapse">Special Skills?</a>

            <div id="demo" class="collapse">
                <div class="Ratecard">
                    <div class="row">

                        <div class="col-sm-6" style="margin-left:20px;">
                            <textarea class="form-control" rows="3" cols="50" id="TxtAra" placeholder="Enter your special skill here" name="TxtAra" required style="margin:10px;"></textarea>
                        </div>
                        <div class="col-sm-5" style="color:grey;margin-top:35px;">
                            <div onmouseout="CRateSelected(0)" style="margin-left: 15px;margin-top:10px;width: 150px;">
                                <input id="Rating 0" hidden />
                                <span class="starFade" id="Rate1 0" onclick="CRate(0, 1)" onmouseover="CRateOver(0,1)" onmouseout="CRateOut(0,1)"></span>
                                <label for="Rate1 0" title="Amazing"></label>
                                <span class="starFade" id="Rate2 0" onclick="CRate(0, 2)" onmouseover="CRateOver(0,2)" onmouseout="CRateOut(0,2)"></span>
                                <span class="starFade" id="Rate3 0" onclick="CRate(0, 3)" onmouseover="CRateOver(0,3)" onmouseout="CRateOut(0,3)"></span>
                                <span class="starFade" id="Rate4 0" onclick="CRate(0, 4)" onmouseover="CRateOver(0,4)" onmouseout="CRateOut(0,4)"></span>
                                <span class="starFade" id="Rate5 0" onclick="CRate(0, 5)" onmouseover="CRateOver(0,5)" onmouseout="CRateOut(0,5)"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br /><br />



            @{var data = @Html.Raw(Json.Encode(Model.SkillRatings));
                <input type="button" class="btn btn-danger" onclick='SubmitRating(@data,@Model.SkillRatings.Count())' value="Submit Ratings">
                <input type="button" class="btn btn-success" onclick='Reset()' value="Reset">
            }

        </div>

        <div class="col-sm-4 well" style="background-color:#f5f5f500;">
            @if (Model.RatedSkills.Count() > 0)
            {
                <h4>Your skills</h4>
                foreach (var item in Model.RatedSkills)
                {
                    <div class="panel" style="background-color:aliceblue;">
                        <span style="float:right;">
                            <a class="glyphicon glyphicon-remove" id="@item.Id" onclick="DeleteRating(@item.Id)"></a>
                        </span>

                        <b style="color:steelblue;">
                            @Html.DisplayFor(modelItem => item.SkillName)
                        </b>


                        <p style="color:black;margin-left:5px;">
                            @Html.DisplayFor(modelItem => item.RaitedNote)
                        </p>
                        @for (var i = 1; i <= item.RaitedValue; i++)
                        {
                            <span class="starGlowN"></span>
                        }
                        @for (var i = (item.RaitedValue + 1); i <= 5; i++)
                        {
                            <span class="starFadeN"></span>
                        }


                    </div>

                }
            }
            else
            {
                <br />
                <div class="alert alert-warning fade in">
                    <strong>No Skill Ratings !</strong> <br/>Add your skills rating.
                </div>
            }
        </div>
    </div>
</div>