@model IEnumerable<Skillset_PL.ViewModels.StaffSkills>

@{
    Layout = "~/Views/Manager/_ManagerLayout.cshtml";
    ViewBag.Title = "SkillRate";
}
<div class="row first">
    <label class="control-label alert-success well-sm" style="display:block;text-align:center">Skill Details</label>
    @if (string.IsNullOrWhiteSpace(ViewBag.Code))
    {
        <label class="control-label col-sm-3" style="float:left;display:block;text-align:center">Employee Code : @(ViewBag.Code) </label>
    }
    @if (string.IsNullOrWhiteSpace(ViewBag.Name))
    {
        <label class="control-label col-sm-3" style="float:left;display:block;text-align:center;">  Employee Name : @(ViewBag.Name) </label>
    }
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-hover table-responsive">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Skill)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rating)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RatingDate)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Skill)
                        </td>
                        <td>


                            @for (var i = 1; i <= item.Rating; i++)
                    {
                                <span class="starGlowN"></span>
                            }
                            @for (var i = (item.Rating + 1); i <= 5; i++)
                    {
                                <span class="starFadeN"></span>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RatingDate)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    else
    {
        <br />
        <div class="alert alert-warning fade in">
            <strong>No Skill Ratings!</strong>
            <br />This employee have no rated skills.
        </div>
    }

</div>