@model IEnumerable<Skillset_PL.ViewModels.StaffSkills>

@{
    Layout = "~/Views/Manager/_ManagerLayout.cshtml";
    ViewBag.Title = "SkillRate";
}

<label class="control-label alert-success well-sm" style="display:block;text-align:center">Skill Details</label>
<label class="control-label col-sm-3" style="float:left;display:block;text-align:center">Employee Code : @(ViewBag.Code) </label>
<label class="control-label col-sm-3" style="float:left;display:block;text-align:center;">  Employee Name : @(ViewBag.Name) </label>
@if (Model.Count() > 0)
{
    <table class="table table-hover table-responsive">
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Skill)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RatingDate)
            </th>
           
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Skill)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.RatingDate)
                </td>

            </tr>
        }

    </table>
}
else
{
    <br />
        <div class="alert alert-warning fade in">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>No Skill Ratings!</strong> There is no skill ratings available.
        </div>
}
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
