@model IEnumerable<Skillset_PL.ViewModels.SkillViewModel>

@{
    ViewBag.Title = "EmployeeRating";
}
<script src="~/Scripts/SkillRating.js"></script>
<h2>  Rate your skills</h2>

<div class="row" style="margin-left:20px;">
    <div class="col-lg-9">
        @foreach (var item in Model)
        {


            <div class="card" >
     <div class="row">
                   
                    <div class="col-md-7" style="margin-left:20px;" >
                        <h4>
                            <b style="color:steelblue;">
                                @Html.DisplayFor(modelItem => item.SkillName)
                            </b>
                        </h4>
                        <p style="color:black;">
                            @Html.DisplayFor(modelItem => item.SkillDescription)
                        </p>

                    </div>
                    <div class="col-md-4" style="color:grey;margin-top:35px;">

                        <div onmouseout="CRateSelected(@item.skillId)">
                            <input id="Rating @item.skillId" hidden />
                            <span class="starFade" id="Rate1 @item.skillId" onclick="CRate(@item.skillId, 1)" onmouseover="CRateOver(@item.skillId,1)" onmouseout="CRateOut(@item.skillId,1)"></span>
                          <label for="Rate1 @item.skillId" title="Amazing"></label>
                              <span class="starFade" id="Rate2 @item.skillId" onclick="CRate(@item.skillId, 2)" onmouseover="CRateOver(@item.skillId,2)" onmouseout="CRateOut(@item.skillId,2)"></span>
                            <span class="starFade" id="Rate3 @item.skillId" onclick="CRate(@item.skillId, 3)" onmouseover="CRateOver(@item.skillId,3)" onmouseout="CRateOut(@item.skillId,3)"></span>
                            <span class="starFade" id="Rate4 @item.skillId" onclick="CRate(@item.skillId, 4)" onmouseover="CRateOver(@item.skillId,4)" onmouseout="CRateOut(@item.skillId,4)"></span>
                            <span class="starFade" id="Rate5 @item.skillId" onclick="CRate(@item.skillId, 5)" onmouseover="CRateOver(@item.skillId,5)" onmouseout="CRateOut(@item.skillId,5)"></span>
                        </div>
                       
                    </div>
                </div>

            </div><br />




        } @{var data = @Html.Raw(Json.Encode(Model));
        <input type="button" class="btn btn-danger"  onclick="SubmitRating(@data)" >
        }
    </div>

    <div class="col-lg-3">
        <div style="color:red;">
            <strong style="font-size:40px; margin-left:15px;">
            </strong>
        </div>
    </div>
</div>




