
@{
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
    ViewBag.Title = "Dashboard";
}
<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Black Ops One' rel='stylesheet' type='text/css'>

    <link href="~/Content/Site.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <script>

        var BarChartData =
        {
            labels: [@Html.Raw(ViewBag.SkillnameExcludeList)],
            datasets: [{
                label: 'Skill Ratings Average',
                backgroundColor: ["rgba(42, 63, 84, 1.0)",
                "rgba(42, 63, 84, 1.0)", "rgba(42, 63, 84, 1.0)",
                "rgba(42, 63, 84, 1.0)", "rgba(42, 63, 84, 1.0)",
                "rgba(42, 63, 84, 1.0)", "rgba(42, 63, 84, 1.0)"],


                borderWidth: 2,
                data: [@ViewBag.RatingAverage]
            }]
        };
      
        window.onload = function () {

            var ctx1 = document.getElementById("Barcanvas").getContext("2d");
            window.myBar1 = new Chart(ctx1,
                {
                    type: 'bar',
                    data: BarChartData,
                    options:
                    {
                        title:
                        {
                            display: true,
                            text: ""
                        },
                        scales:
                        {
                            yAxes:
                            [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }],
                            xAxes: [{
                                // Change here
                                barPercentage: 0.2
                            }]
                        },
                        responsive: true,
                        maintainAspectRatio: true
                    }
                });

        }
    </script>
</head>

<body>
    <div class="row">
        <div class="col-md-4 tile-first">
            <span class="tile-top"><i class="fa fa-user"></i>Total Users</span>
            <div class="tile-value">@(ViewBag.TotalEmployees)</div>
        </div>
        <div class="col-md-4 tile-list">
            <span class="tile-top"><i class="fa fa-lightbulb-o"></i>Total Skills</span>
            <div class="tile-value">@(ViewBag.TotalSkills)</div>
        </div>

        <div class="col-md-4 tile-list">
            <span class="tile-top"><i class="fa fa-star"></i>Total Ratings</span>
            <div class="tile-value">@(ViewBag.TotalSkillRatingsCount)</div>
        </div>
    </div>

    @* Chart *@
    <div class="row">
        <div class="col-md-8 " >
            <div class="dashboard-graph">
                <div class="row graph-title">
                    <div class="col-md-12">
                        <h3>Average Ratings</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="background:white;">
                <div>
                    <canvas id="Barcanvas"></canvas>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="dashboard-card">
                <div class="row card-title">
                    <div class="col-md-8">
                        <h3>Top Skilled</h3><div>Employees</div>
                    </div>
                    <div class="col-md-4 toggle-card">
                        <a class="toggle-button" style="float:right;"><i class="classi fa fa-chevron-up"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="background:white;" id="show">
                <div id="collapse1">
                    <table class="employeetable table table-hover table-responsive" style="margin-bottom:10px">
                        <thead>
                            <tr>
                                <th style="font-weight:bold;font-size:16px">Employee Name</th>
                                <th style="font-weight:bold;font-size:16px">Skill</th>
                            </tr>

                        </thead>
                        <tbody>
                            @if ((ViewBag.TopSkillsTableData != null))
                            {
                                foreach (var item in ViewBag.TopSkillsTableData)
                                {
                                    <tr>
                                        <td>@item.Value</td>
                                        <td style="color:#1ABB9C">@item.Key</td>
                                    </tr>
                                }
                            }
                            @if (ViewBag.TopSkillsTableData.Count <= 0)
                            {
                                <tr>
                                    <td>No top ratings!</td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
</body>
</html>
