@model IEnumerable<Skillset_PL.ViewModels.AdministratorSkillViewModel>

@{
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
    ViewBag.Title = "Skills";
}
<div class="row first">
    <h2>Skills</h2>
    <link href="~/Content/adminview.css" rel="stylesheet" type="text/css" />

<h2>Skills</h2>
    <br />
    @Html.Label("Employee Name:")
    @Html.Label(ViewData["employeename"].ToString())
    <br />
    @Html.Label("Employee Code:")
    @Html.Label(ViewData["employeecode"].ToString())
    <br />
    <br />

<label class="control-label alert-success well-sm" style="display:block;text-align:center">Skill Details</label>
<label class="control-label col-sm-3" style="float:left;display:block;text-align:center">Employee Code : @(ViewData["employeecode"]) </label>
<label class="control-label col-sm-3" style="float:left;display:block;text-align:center;">  Employee Name : @(ViewData["employeename"]) </label>
<br/>
<br/>
@if (Model.Count() > 0)
{
    <table class="table table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SkillName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SkillValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RatingDate)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SkillName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SkillValue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RatingDate)
                    </th>
                </tr>
