@model IEnumerable<Skillset_PL.ViewModels.AdministratorSkillViewModel>

@{
    Layout = "~/Views/AdministratorView/_AdminLayout.cshtml";
    ViewBag.Title = "Skills";
}

<h2>Skills</h2>
<link href="~/Content/adminview.css" rel="stylesheet" type="text/css" />

<br />
@Html.Label("Employee Name:")
@Html.Label(ViewData["employeename"].ToString())
<br />
@Html.Label("Employee Code:")
@Html.Label(ViewData["employeecode"].ToString())
<br />
<br />

@if (Model.Count() > 0)
{
    <table class="table table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SkillName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SkillValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RatingDate)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SkillName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SkillValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RatingDate)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    @Html.Label("There is not any active skillratings for this employee")
}
<br />
<br />
<p>
    @Html.ActionLink("Back to Employee List", "Index", null, new { @class = "buttonstyle" })
</p>