@model IEnumerable<Skillset_PL.ViewModels.AdministratorSkillViewModel>

@{
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
    ViewBag.Title = "Skills";
}

<h2>Skills</h2>

<label class="control-label alert-success well-sm" style="display:block;text-align:center">Skill Details</label>
<label class="control-label col-sm-3" style="float:left;display:block;text-align:center">Employee Code : @(ViewData["employeecode"]) </label>
<label class="control-label col-sm-3" style="float:left;display:block;text-align:center;">  Employee Name : @(ViewData["employeename"]) </label>
<br/>
<br/>
@if (Model.Count() > 0)
{
    <table class="table table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SkillName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SkillValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RatingDate)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SkillName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SkillValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RatingDate)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <br />
    <div class="alert alert-warning fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>No Skill Ratings!</strong> There is no skill ratings available.
    </div>
}
<br />
<br />
<p>
    @Html.ActionLink("Back to Employee List", "Index", null, new { @class = "buttonstyle" })
</p>