
@{
    ViewBag.Title = "login";
}
<link rel="stylesheet" href="~/Content/bootstrap.css">
@using (Html.BeginForm())
{
    <br />
    <div class="container">
        <center>
            <div class="form-group">
                @Html.Label("EmployeeCode")
                @Html.Editor("EmployeeCode", new { htmlAttributes = new { @class = "form-control", placeholder = "Employee Code" } })
                @Html.ValidationMessage("EmployeeCode", "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Password")
                @Html.Editor("Password", new { htmlAttributes = new { @class = "form-control", placeholder = "Password", @type = "password"} })
                @Html.ValidationMessage("Password", "", new { @class = "text-danger" })
                <h5 style="color:red;">@ViewBag.ErrorMessage</h5>
            </div>
            <input type="submit" name="submit" value="Login" class="btn btn-primary form-control" />
        </center>
    </div>
}

